/**默认*
.tableCss {
	border-collapse: collapse;
	border-right:0px;
	border-top:0px;
	border: 1px solid #26b5b3;
}
.tableLabel {
	background:#bfe8e8;
	text-align: right;
	width: 70px;
}
.tableCss td {
	border: 1px solid #26b5b3;
	padding: 5px 15px;
	word-break: keep-all;
	white-space: nowrap;
}
.divLabel {
	background: #bfe8e8;
	text-align: left;
}
table.honry-table td{
	border-right: 1px solid #26b5b3;
    border-bottom: 1px solid #26b5b3;
}
td.honry-lable{
	background:#bfe8e8;
}
table.honry-table{
	border-left: 1px solid #26b5b3;
    border-top: 1px solid #26b5b3;
}
*/