<div class="modal" ng-controller="zkHonryExtendFromAttrMsgListenersCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2>{{'ZKHONRY_EXTEND.PROMPT' | translate:property}}</h2>
            </div>
            <div class="modal-body">
				<p>{{'ZKHONRY_EXTEND.PROMPT.PLEASE.SELECT.FORM' | translate:property}}<p>
            </div>
            <div class="modal-footer">
                <button ng-click="cancel()" class="btn btn-primary" translate>ACTION.OK</button>
            </div>
        </div>
    </div>
</div>
