.e-resourcegantt .e-table-row-selected
{
	background:none;
}

.e-resourcegantt .e-gantt-item
{
	border:solid 1px #7a88a6;
	background:#bdd3fc;
}

.e-resourcegantt .e-gantt-item-selected
{
	border:solid 1px #a67a83;
	background:#fcbdcd;
}
.e-gantt-percentcomplete-ct
{
	position:absolute;left:0;top:1px;height:15px;overflow:hidden;width:100%;
}
.e-resourcegantt .e-gantt-percentcomplete
{
	background-color:#6a68f9;height:8px;overflow:hidden;position:absolute;top:1px;border:solid 1px #4463a6;border-left:0;left:0;
}
.e-gantt-percentcomplete-name
{
	position:absolute;left:5px;top:0px;color:White;z-index:10;font-size:12px;
}
.e-resourcegantt .e-gantt-item-selected .e-gantt-percentcomplete
{
	background-color:#f97968;border-color:#a64459;
}

.e-resourcegantt-draging .e-drag-proxy
{
	display:none;
}