*{
	font-size:14px
}
body, ul, li, form, hr, p, h1, h2, h3, h4, h5, h6, table, tr, td, input, a, span, img, dl, dt, dd,#divLayout .changeskin legend,.xmenu dl dt,.select-info .top-label{
	font-size:16px
}
.main-top .t-menu .middle a, a:link,.main-top .t-menu,.chnav .spreadlogo,.chnav .t-menu .middle a{
	font-size:14px;
}
ul#topnav li.nav-menu a{
	font-size:18px;
}
.header .head-title,.setting .shortcut ul li a,.content ul li a,.content ul li span,ul#topnav li .sub a,.l-btn-text,.user-info,.home-info,.time-info,.pagination span,
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber,.datagrid-header .datagrid-cell span,.tabs-title,.tree-title,.textbox .textbox-prompt,
.panel-title,.panel-body,.panel-body div,.tableLabel,.textbox .textbox-text,#buttonListId option,#selectBut option,.honry-view option,.role-info{
	font-size:16px;
}
.header .head-title span{
	font-size:22px;
}
.panel-body-noheader font,#toolbarId>span,#longda>div>span,#infEditForm .birth,#audEl .layout-panel-north span,.halfwaytip,.sfont,.hisAdviceTip,.nurseViewFont,#ananEl span,.adviceFontSize span,
.herbalSize1 span{
	font-size:14px !important;
}
td.honry-lable,.tableCss .TDlabel,#infEditForm .sub_title font,#infEditForm .birthTip,#div1 font,#cc font.tip,#searchTab .tip,
#divLayout .tip,#divLayout .icd,.tecCarrierTip,.jcfx select,.tb3chart p,.tbmid_c p,.outpatientFont1,.monthlyTit th,
.sevenConfirmed #tableTitle,.sevenConfirmedFont,.treatmentFontYear,.manufacturertEditFont .honry-lable span,.supplyEditFont .honry-lable span,
#toolbarId #totalPrice,.noticeEditFont label,.bedUseConditionList .datagrid-header .datagrid-cell span b,.panel-body-noheader #sqxinxi font,
.infectiousViewSize font{
	font-size:16px !important;
}
#baocun .panel-body-noheader font,.panel-body-noheader .title,.dosageTit,#dosageViewFontSize,.panel-body-noheader font.consultationListFontSize{
	font-size:34px !important;
}
#cc h5,.nurseCharge{
	font-size:32px !important;
}
#infEditForm .title{
	font-size:30px !important;
}
.panel-body-noheader font.outpatienttit,.panel-body-noheader font.empWorkTit{
	font-size:35px !important;
}
.panel-body-noheader font.outpatientsubtit,.threeTestFont{
	font-size:26px !important;
}
.konwledgeBaseFont p span{
	font-size:26px !important;
	font-weight:normal;
	font-family:"宋体", "SimSun";
}
.panel-body-noheader font.stopReason,.drugDispensTit,#outpatientStop{
	font-size:27px !important;
}
.wzadjustTit{
	font-size:28px !important;
}
.adjustNum,.table1top h2, .table1bottom h2, .tbb1 h2,.table3top h2, .table3bottom h2,.topleft h2, .topright h2, .table2bottom h2,.outpatientFont,.monthlyTit1 th{
	font-size:18px !important;
}
.mz,.table3top .fk,.sevenConfirmed .TDlabel1 th{
	font-size:17px !important;
}
.operbilling,.cleft h2, .cright h2{
	font-size:20px !important;
}
.reportname select,.top_se .time,.top_se .danw,.table2bottom .tbleft select, .table2bottom .tbmid select,#msgWinId #showDetail,#toolbarId .webPreregisterFont,
.docsetList .honry-lable span{
	font-size:15px !important;
}
.treatmentFont{
	font-size:22px !important;
}
ul#topnav .sub ul li{
	height:28px;
	line-height:28px;
}
ul#topnav li.nav-menu{
	width:152px;
}
ul#topnav li .sub ul{
	width:164px;
}
#begintime,#endtime,#cc #login,#cc #end,#editForm .Wdate,#bb .Wdate,.informationChange .Wdate,.DrugSpedrugApply .Wdate,.leaveOrderListSize .Wdate,.inpatientNumberSize #beganTime,
.invoiceInspectListSize .Wdate,.inpatientApplicationMZ #shijian,.inpatientApplication #shijian,.deliveryEditDateSize .Wdate,.patientInfoDateSize .Wdate,
.daybalance #startTime,.arrangementList .Wdate,.docAdvDetailNewDateSize .Wdate,.permissionDateSize .Wdate,.nurseImplementDateSize .Wdate{
	width:180px !important;
}
.operationDept #endtime{
	width:125px !important;
}
.operationDept .middleSize{
	width:85px !important;
}
.synEndTime #endTime,.syntheticalStatList #endtime{
	width:110px !important;
}
.chargeBillistSize #endTime,.medicalFeeDetailSize #endTime,.nurseDrugDispensSize #endTime{
	width:100px !important;
}
.newMenu .menuInput .ksnew{
	padding-bottom:1px;
	padding-top:1px;
}
.stack>span{
	margin-left:-12px;
}
.middleSize{
	width: 260px !important;
}
.dischargePersonList #dept,.dischargePersonList #quarter,.dischargePersonList #day,.anesthesiaList #endtime{
	width:150px !important;
}
.dischargePersonList #year,.dischargePersonList #month,.arrangeListSize #endtime,.registrationListSize #endtime{
	width:145px !important;
}
.patientBlackEditFont td>span{
	width:110px !important;
}
.patientBlackEditFont input{
	width:90% !important;
}
.adviceIndexLeft{
	margin-left:-2px !important;
}
.inpatientInfoSize1,.inpatientSize1,.recipelStatListSize1{
	width:73px !important;
}
.recipelStatListSize2{
	width:60px !important;
}
.inpatientSize2,.inpatientSize4{
	width:220px !important;
}
.inpatientInfoSize2,.inpatientInfoSize4{
	width:220px !important;
}
.inpatientInfoSize2>input,.inpatientInfoSize4>input{
	width: 178px !important;
}
.inpatientSize2>span,.inpatientSize4>span{
	width: 178px !important;
}
.inpatientSize2>span>input,.inpatientSize4>span>input{
	width: 162px !important;
}
.inpatientInfoSize3,.inpatientInfoSize5,.inpatientSize3,.inpatientSize5,.herbalSize,#adNotDrugSamJudgeTitleTdId,.stackModelSize{
	width:80px !important;
}
.anaerecordList #endTime,.arrangementList1 #endtime{
	width:120px !important;
}
.infectiousEditPadding{
	padding: 5px 5px 0px 4px !important;
}
.inpatientFeeBalSumSize>span{
	width:145px !important;
}
.operationDept .operationDeptList{
	width:240px !important;
}
.operationBillingInfoList #beginTime,.operationBillingInfoList #endTime,.approveList .combo,.externalReturn .combo,.stockInfoList .combo,.operationCostList #endTime{
	width:125px !important;
}
.approveList .combo input,.externalReturn .combo input,.stockInfoList .combo input{
	width:105px !important;
}
.checkBalanceList .combo,.checkInventory .combo,.dosageViewSize .combo input{
	width:137px !important;
}
.checkBalanceList .combo input,.checkInventory .combo input,.recipelStatList #endTime,.anesthesiaList #endtime{
	width:120px !important;
}
.orders_kcgl .combo,.dosageViewSize .combo{
	width:148px !important;
}
.chnav .spreadlogo{
	width: 56px;
}
.chnav .t-menu,.chnav .t-menu .middle{
	width:200px;
}
.change{
	width: 75px;
}
.DrugSpedrugApplyDateSize #inDate,.registrationListSize1 .Wdate,.anesthesiaListDateSize .Wdate,#secTable .Wdate,#editForm .businessExtcor .Wdate{
	width:172px !important;
}
.hospitalbedListSearchSize>span{
	width:190px !important;
}
.hospitalbedListSearchSize>span input{
	width:185px !important;
}
.incomeStatisticSize1{
	width:80px !important;
}
.incomeStatisticSize2{
	width:450px !important;
}
.medicalFeeDetailSize{
	width:900px;
}
.drugDoseCensusListSize{
	width:280px !important;
}
.deptLeadDrugListSize1{
	width:392px;
}
.yuyueSize{
	width:80px !important;
}
.yuyueSize1{
	width:65px !important;
}
.nurseBedView{
	width:192px !important;
	margin:11px !important;
	padding:20px 8px !important;
}