@charset "utf-8";

html,body{  
  height:100%;  
  margin:0px;
  background: url('images/login_background.jpg') no-repeat;
}
p{
	margin:0;
	padding:0;
}
.platform-main {
	/* background: url('images/login_background.jpg') no-repeat; */
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	/* background:url('images/login_background.jpg');  
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
	-moz-background-size:100% 100%;  
	background-size:100% 100%; */ 
}
.platform-main .logo {
	margin: 0 auto;
	width: 800px;
	height: 110px;
	margin-top: 8%;
	background: url('images/platform_logo.png') no-repeat;
	clear:both;
}

.platform-main .login {
	margin:0 auto;
	position:relative;
	top:40px;
	width:943px;
	height:414px;
	padding:0;
	clear:both;
}

.platform-main .login .login-left{
	float:left;
	width:403px;
	height:100%;
	margin:0;
	padding:0;
	background: url('images/platform_login_left.png') no-repeat;
}

.platform-main .login .login-mid{
	float:left;
	width:514px;
	height:100%;
	margin:0;
	padding:0;
	background: url('images/platform_login_mid.png') no-repeat;
}

.platform-main .login .login-right{
	float:right;
	width:26px;
	height:100%;
	margin:0;
	padding:0;
	background: url('images/platform_login_right.png') no-repeat;
}

.platform-main .login .login_user{
	margin:148px 0 0 168px;
	width:100%;
	height:41px;
}
.platform-main .login .login_user .user_input{
	padding-left:10px;
	width:275px;
	height:35px;
	color:#000;
	background-color:#fff;
	border:0;
	font-size:16px;
}

.platform-main .login .login_pass{
	margin:12px 0 0 168px;
	width:100%;
	height:41px;
}
.platform-main .login .login_pass .pass_input{
	padding-left:10px;
	width:275px;
	height:35px;
	color:#000;
	background-color:#fff;
	border:0;
	font-size:16px;
}

.platform-main .login .login_rememberme{
	margin:18px 0 0 163px;
	width:100%;
	height:41px;
}

.platform-main .login .login_rememberme .re_input{
	width:20px;
	height:20px;
}

.platform-main .login .login_btn{
	margin:2px 0 0 166px;
	width:127px;
	height:46px;
	cursor:pointer;
	background: url('images/login_btn.png') no-repeat;
}

.platform-main .platform-bottom{
	width:100%;
	height:39px;
}

.platform-main .platform-bottom .desc {
	margin:0 auto;
	margin-top:0px;
	width:410px;
	height:39px;
	background: url('images/platform_bottom_desc.png') no-repeat;
}
.platform-bottom .bottom-desc {
	margin:0 auto;
	width:100%;
	height:39px;
	background: url('images/platform_bottom_desc.png') no-repeat;
	background-position: center;
}
